@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

body {
	background-color: #004f2d;
	overflow-x: hidden;
}

.page {
	display: flex;
	flex-direction: column;
}

.words {
	font-family: "Young Serif";
	font-weight: 800;
	font-size: 8rem;
	color: #dfff00;
	height: 100vh;
}

.top {
	position: absolute;
	margin-top: -2%;
	margin-left: 7%;
}

.right {
	position: absolute;
	writing-mode: vertical-rl;
	margin-left: 84%;
	margin-top: 10%;
}

.left {
	position: absolute;
	transform: rotate(-90deg);
	margin-top: 19%;
	margin-left: -5%;
}

.bottom {
	position: absolute;
	transform: rotate(180deg);
	margin-top: 40%;
	margin-left: 4%;
}

.check {
	position: absolute;
	font-weight: 400;
	font-size: 1.4rem;
	margin-top: 40%;
	margin-left: 50%;
}

.garden-of-friends {
	width: 90vw;
	margin-top: 20%;
	margin-left: 6%;
}

.message {
	/* margin-top: 10%; */
	width: 30%;
	font-family: "Young Serif";
	font-weight: 400;
	font-size: 1.1rem;
	color: #dfff00;
}

.name {
	font-size: 1.4rem;
}

.flower {
	display: flex;
	flex-direction: row;
	margin-top: -12%;
}

#flower1,
#flower2,
#flower3,
#flower4,
#flower5 {
	width: 100%;
}

#message1,
#message2,
#message3,
#message4,
#message5 {
	margin-top: 6%;
}

#flower2,
#flower4 {
	margin-left: 40%;
}

#flower1 {
	margin-bottom: 6%;
}

#message4 {
	margin-top: 10%;
}

.flower img {
	margin-left: 20px;
	margin-right: 30px;
}

.message {
	margin-top: 20px;
}

.space {
	position: absolute;
	height: 16vh;
	width: 100vw;
	margin-top: 200%;
}

.links {
	margin-left: 10%;
}

ul {
	list-style-type: none;
}

h3 {
	font-family: "Young Serif";
	font-weight: 400;
	font-size: 2rem;
	color: #dfff00;
}

a {
	font-family: "Young Serif";
	font-weight: 400;
	font-size: 1.5rem;
	color: #dfff00;
}

.stars {
	position: absolute;
	z-index: -1;
}

.star1 {
	position: relative;
	margin-top: 0%;
	margin-left: 4%;
}

.star2 {
	position: relative;
	margin-top: -60%;
	margin-left: 96%;
}

.star3 {
	position: relative;
	margin-top: -60%;
	margin-left: 188%;
}

.mems {
	z-index: -2;
	margin-top: -16%;
	margin-left: 10%;
	padding: 2rem;
}

.mems > img {
	padding-bottom: 1rem;
	max-width: 500px;
	padding-right: 1rem;
}

#pic1 {
	max-width: 900px;
}

.hearts {
	font-family: "Young Serif";
	font-weight: 400;
	font-size: 20rem;
	color: #dfff00;
}
